{% block oro_stripe_settings_widget %}
    <div data-page-component-module="orostripe/js/app/components/stripe-transport-settings-component">
        {{ form_widget(form) }}
    </div>
{% endblock %}
