parameters:
    oro_stripe.authorization_transaction_expiration_hours: 164

services:
    # Command
    oro_stripe.handler.re_authorization_handler:
        class: Oro\Bundle\StripeBundle\Handler\ReAuthorizationHandler
        arguments:
            - '@oro_stripe.provider.entities_transactions'
            - '@oro_payment.payment_method.composite_provider'
            - '@oro_payment.provider.payment_transaction'
            - '@oro_stripe.method.config_provider'
            - '@oro_stripe.notifications.re-authorize_notifications'
        calls:
            - [ setLogger, [ '@logger' ] ]
        tags:
            - { name: monolog.logger, channel: oro_stripe }

    oro_stripe.command.re_authorize:
        class: Oro\Bundle\StripeBundle\Command\ReAuthorizeCronCommand
        arguments:
            - '@oro_stripe.provider.entities_transactions'
            - '@oro_stripe.handler.re_authorization_handler'
        tags:
            - { name: console.command }

    # Integration
    oro_stripe.integration.stripe_channel:
        class: Oro\Bundle\StripeBundle\Integration\StripeChannelType
        tags:
            - { name: oro_integration.channel, type: stripe }

    oro_stripe.integration.stripe_integration_transport:
        class: Oro\Bundle\StripeBundle\Integration\StripeIntegrationTransport
        tags:
            - { name: oro_integration.transport, type: stripe, channel_type: stripe }

    # Event Listener
    oro_stripe.event_listener.stripe_payment_callback_listener:
        class: Oro\Bundle\StripeBundle\EventListener\StripePaymentCallBackListener
        arguments:
            - '@oro_stripe.payment_method.provider'
            - '@request_stack'
            - '@oro_payment.provider.result_messages'
        calls:
            - [setLogger, ['@logger']]
        lazy: true
        tags:
            - { name: kernel.event_listener, event: oro_payment.callback.return, method: onReturn }
            - { name: monolog.logger, channel: oro_stripe }

    oro_stripe.event_listener.order_payment_transaction_grid:
        class: Oro\Bundle\StripeBundle\EventListener\OrderPaymentTransactionsGridListener
        arguments:
            - '@doctrine'
            - '@oro_stripe.method.config_provider'
        tags:
            - { name: kernel.event_listener, event: oro_datagrid.datagrid.build.before.order-payment-transactions-grid, method: onBuildBefore }

    oro_stripe.event_listener.integration_edit_listener:
        class: Oro\Bundle\StripeBundle\EventListener\IntegrationViewListener
        tags:
            - { name: kernel.event_listener, event: oro_ui.scroll_data.before.channel-update, method: onIntegrationEdit }

    # Stripe Placeholder Filter
    oro_stripe.placeholder.filter:
        class: Oro\Bundle\StripeBundle\Placeholder\StripeFilter
        public: true
        arguments:
            - '@request_stack'
            - '@oro_stripe.provider.stripe_enabled_monitoring_cached'

    # Cache
    oro_stripe.integration.cache:
        parent: oro.data.cache
        tags:
            - { name: 'cache.pool', namespace: 'stripe_integration_cache' }

    # Provider
    oro_stripe.provider.stripe_enabled_monitoring_cached:
        class: Oro\Bundle\StripeBundle\Provider\StripeEnabledMonitoringCachedProvider
        arguments:
            - '@oro_frontend.request.frontend_helper'
            - '@oro_stripe.integration.cache'
            - '@doctrine'
        calls:
            - ['setTokenAccessor', ['@oro_security.token_accessor']]

    oro_stripe.provider.entities_transactions:
        class: Oro\Bundle\StripeBundle\Provider\EntitiesTransactionsProvider
        arguments:
            - '@oro_entity.doctrine_helper'
            - '@oro_payment.provider.payment_transaction'
            - '%oro_stripe.authorization_transaction_expiration_hours%'

    oro_stripe.method.provider.applicable_methods_provider:
        class: Oro\Bundle\StripeBundle\Method\Provider\SortedApplicablePaymentMethodsProvider
        parent: oro_payment.method.provider.applicable_methods_provider
        decorates: oro_payment.method.provider.applicable_methods_provider

    # Layout Data Provider
    oro_stripe.layout.data_provider.payment_method:
        class: Oro\Bundle\StripeBundle\Layout\DataProvider\StripePaymentMethodsDataProvider
        arguments:
            - '@oro_checkout.provider.payment_context'
            - '@oro_payment.method.provider.applicable_methods_provider'
            - '@oro_stripe.payment_method.provider'
        tags:
            - { name: layout.data_provider, alias: oro_stripe_payment_method }

    # Listener
    oro_stripe.event_listener.payment_transaction_operation_announce_event_listener:
        class: Oro\Bundle\StripeBundle\EventListener\PaymentTransactionOperationAnnounceEventListener
        arguments:
            - '%oro_stripe.payment_method.id%'
        tags:
            - { name: kernel.event_listener, event: oro_operation.oro_order_payment_transaction_cancel.announce, method: onOperationAnnounce }
            - { name: kernel.event_listener, event: oro_operation.oro_order_payment_transaction_refund.announce, method: onOperationAnnounce }

    oro_stripe.entity_listener.stripe_integration:
        class: Oro\Bundle\StripeBundle\EventListener\StripeIntegrationListener
        arguments:
            - '@oro_stripe.integration.cache'
        tags:
            - { name: doctrine.orm.entity_listener, entity: Oro\Bundle\IntegrationBundle\Entity\Channel, event: prePersist, method: prePersistChannel }
            - { name: doctrine.orm.entity_listener, entity: Oro\Bundle\IntegrationBundle\Entity\Channel, event: preUpdate, method: preUpdateChannel }
            - { name: doctrine.orm.entity_listener, entity: Oro\Bundle\IntegrationBundle\Entity\Channel, event: preRemove, method: preRemoveChannel }
            - { name: doctrine.orm.entity_listener, entity: Oro\Bundle\StripeBundle\Entity\StripeTransportSettings, event: preUpdate, method: preUpdateSettings }

    # Stripe Client
    oro_stripe.client.factory:
        class: Oro\Bundle\StripeBundle\Client\StripeClientFactory

    # Twig
    oro_stripe.twig.stripe_url_extension:
        class: Oro\Bundle\StripeBundle\Twig\StripeUrlExtension
        tags:
            - { name: twig.extension }

    # Stripe Event Factory
    oro_stripe.event.factory.stripe_sdk:
        class: Oro\Bundle\StripeBundle\Event\StripeSDKEventFactory
        arguments:
            - '@oro_stripe.method.config_provider'
            - '@doctrine'

    # Stripe Events Handler
    oro_stripe.event_handler.stripe_webhook_handler:
        class: Oro\Bundle\StripeBundle\EventHandler\StripeWebhookEventHandler
        arguments:
            - '@oro_stripe.event.factory.stripe_sdk'
            - '@oro_stripe.event_handler.stripe_event_handler_registry'

    oro_stripe.event_handler.stripe_payment_handler_abstract:
        class: Oro\Bundle\StripeBundle\EventHandler\AbstractStripeEventHandler
        abstract: true
        arguments:
            - '@doctrine'
            - '@oro_payment.provider.payment_transaction'

    oro_stripe.event_handler.stripe_payment_success_handler:
        class: Oro\Bundle\StripeBundle\EventHandler\PaymentSuccessEventHandler
        parent: oro_stripe.event_handler.stripe_payment_handler_abstract
        tags:
            - { name: oro_stripe.event_handler }

    oro_stripe.event_handler.stripe_payment_canceled_handler:
        class: Oro\Bundle\StripeBundle\EventHandler\PaymentCanceledEventHandler
        parent: oro_stripe.event_handler.stripe_payment_handler_abstract
        tags:
            - { name: oro_stripe.event_handler }

    oro_stripe.event_handler.stripe_payment_refunded_handler:
        class: Oro\Bundle\StripeBundle\EventHandler\PaymentRefundedEventHandler
        parent: oro_stripe.event_handler.stripe_payment_handler_abstract
        arguments:
            - '@oro_stripe.client.factory'
        tags:
            - { name: oro_stripe.event_handler }
            - { name: monolog.logger, channel: oro_stripe }

    oro_stripe.event_handler.stripe_event_handler_registry:
        class: Oro\Bundle\StripeBundle\EventHandler\StripeEventHandlerRegistry
        arguments:
            - !tagged_iterator oro_stripe.event_handler

    Oro\Bundle\StripeBundle\EventHandler\StripeWebhookEventHandler:
        alias: oro_stripe.event_handler.stripe_webhook_handler
        public: true

    # Notifications
    oro_stripe.notifications.manager:
        class: Oro\Bundle\StripeBundle\Notification\StripeNotificationManager
        arguments:
            - '@oro_message_queue.client.message_producer'
            - '@oro_notification.model.notification_settings'
            - '@logger'

    oro_stripe.notifications.re-authorize_notifications:
        class: Oro\Bundle\StripeBundle\Notification\ReAuthorizeMessageNotifications
        arguments:
            - '@oro_stripe.notifications.manager'
            - '@oro_locale.formatter.date_time'
            - '@oro_locale.formatter.number'
            - '@translator'
            - '@oro_entity.doctrine_helper'
            - '@oro_locale.settings'

    oro_stripe.action.payment_transaction_partial_refund:
        class: Oro\Bundle\StripeBundle\Action\PaymentTransactionPartialRefundAction
        parent: oro_payment.action.payment_method_action.abstract
        tags:
            - { name: oro_action.action, alias: payment_transaction_partial_refund }

    oro_stripe.condition.payment_transaction_fully_refunded:
        class: Oro\Bundle\StripeBundle\Condition\PaymentTransactionFullyRefunded
        arguments:
            - '@oro_stripe.provider.transaction_data_provider'
        tags:
            - { name: oro_action.condition, alias: 'payment_transaction_fully_refunded' }

    oro_stripe.provider.transaction_data_provider:
        class: Oro\Bundle\StripeBundle\Provider\PaymentTransactionDataProvider
        public: true
        arguments:
            - '@oro_payment.repository.payment_transaction'

    oro_stripe.repository.stripe_settings:
        alias: Oro\Bundle\StripeBundle\Entity\Repository\StripeTransportSettingsRepository

    Oro\Bundle\StripeBundle\Entity\Repository\StripeTransportSettingsRepository:
        parent: oro_entity.abstract_repository
        arguments:
            - 'Oro\Bundle\StripeBundle\Entity\StripeTransportSettings'
        calls:
            - [setAclHelper, ['@oro_security.acl_helper']]
        tags:
            - { name: doctrine.repository_service }
