{%  block _stripe_payment_temporary_container_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " block"}) %}
    <div {{ block('block_attributes') }}
            data-page-component-view="orostripe/js/app/views/stripe-card-single-page-checkout-view"
            data-page-component-name="stripe-card-view-component">
        {{ block_widget(block) }}
    </div>
{% endblock %}
